<div class="page-header">
  <h3> Mystery lunches </h3>
</div>

</br>

<table id="meetings-table" class="table table-bordered" data-source="<%= root_url(format: "json") %>">
  <thead>
    <tr>
      <th> Id </th>
      <th> Month </th>
      <th> Name </th>
      <th> Department </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
