<div class="page-header">
  <h3> Mystery lunches </h3>
</div>

<tr>
  <td>Filter: </td>
  <td><input name="current" type="radio" id="current" value="current" checked="checked">Current month</td>
  <td><input name="current" type="radio" id="past" value="past">Past months</td>
</tr>

<table id="meetings-table" class="table table-bordered" data-source="<%= root_url(format: "json") %>">
  <thead>
    <tr>
      <th> Id </th>
      <th> Month </th>
      <th> Name </th>
      <th> Department </th>
      <th> Avatar </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
